<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>XKCD Comic Viewer</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/Fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="css/d3Graphics.css" rel="stylesheet" type="text/css">
    <link rel="Stylesheet" type="text/css" href="css/smoothDivScroll.css"/>

    <!-- Custom icon for tab page -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>

        .tagsContainer {
            background-color: #B21212;
            width: 100%;
            height: 650px;
            text-align: center;
            padding-top: 2%;
        }

        .albumCollection {
            background-color: #1485CC;
            height: auto;
        }

        /* Style for jQuery image slider */
        .makeMeScrollable .imagesFromSequence {
            width: 100%;
            height: 400px;
            position: relative;
        }

        /* Replace the last selector for the type of element you have in
           your scroller. If you have div's use #makeMeScrollable div.scrollableArea div,
           if you have links use #makeMeScrollable div.scrollableArea a and so on. */
        .makeMeScrollable .imagesFromSequence div.scrollableArea img {
            position: relative;
            float: left;
            margin: 0;
            padding: 0;

        }

        .imagesFromRange .imagesFromSequence{
            background-color: #00B233;
            height: auto;
        }

        .spacer {
            height: 100px;
            width: 100%;
            background-color: #000000;
        }

        .extraTopMargin {
            margin-top: -200px;
        }

        .credits {
            font-size: 14px;
            margin-top: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-app="xkcdComicApp"
      ng-controller="mainPageController">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">

        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header" style="color: #000000">
                <h4 class="modal-title">Message from XKCD comic app</h4>
            </div>

            <div class="modal-body" style="color: #000000; font-size: 20px;">
               {{modalMessage}}
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">Got it!</button>
            </div>
        </script>


        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

        </div>


        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">XKCD Comics Viewer</h1>
                    <p class="intro-text">A free, responsive, one page application to conveniently read your favorite<br><a href="http://xkcd.com/">XKCD comics</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section class="tagsContainer">
    <form class="form-inline">
        <p>
            <label>Please specify number of top tags you are sending request for</label>
        </p>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Top Tags</div>
                <input type="text" class="form-control" ng-model="numberOfTopTagsToRequest" id="numberOftopTagsValue"
                       placeholder="5">

                <div class="input-group-addon"></div>
            </div>
        </div>

        <button data-ng-disabled="tagInfoButtonIsDisabled" data-ng-click="getTagInfoWith();" class="btn btn-primary">Get Tag Info</button>

        <div id="chart">

        </div>
    </form>
</section>

<section class="tagsContainer albumCollection">

    <form class="form-inline">
        <p>
            <label>Please tags separating in comma you are sending request for</label>
        </p>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Tags List</div>

                <input type="text" class="form-control" ng-model="tagsList" placeholder="">

            </div>
        </div>

        <button data-ng-disabled="imagesByTagButtonIsDisabled" data-ng-click="getImagesMatchingTags();" class="btn btn-primary">Get Images</button>

        <div class="makeMeScrollable" ng-style="{'height': maximumHeight}" ng-show="toShowMatchingTagsImages">

        </div>
    </form>
</section>

<section class="tagsContainer imagesFromRange" style="background-color: #00B233">
    <form class="form-inline">
        <p>
            <label>Please specify the range of images you are sending request for</label>
        </p>
        <div class="form-group">
            <label class="sr-only" for="sIndex">Start Index</label>
            <input type="number" min="1" class="form-control" data-ng-model="imageStartIndex" id="sIndex"
                   placeholder="Start Index">
        </div>
        <div class="form-group">
            <label class="sr-only" for="eIndex">End Index</label>
            <input type="number" min="1" class="form-control" data-ng-model="imageEndIndex" id="eIndex"
                   placeholder="End Index">
        </div>
        <button data-ng-disabled="imagesByRangeButtonIsDisabled" data-ng-click="getImagesFromRange();" class="btn btn-primary">Get Images</button>
        <div class="imagesFromSequence" ng-style="{'height': maximumHeightForSequenceImages}" ng-show="toShowInputRangeImages">
        </div>
    </form>
</section>
<!-- Download Section -->
<section class="content-section text-center" style=" background-color: #000000">

        <div class="container extraTopMargin">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Github Hosting</h2>

                <p>This project along with JavaScript and PHP files is hosted on Github repository. You can follow the link below to check out the source</p>
                <a href="https://github.com/jayesh15111988/XKCDApp" class="btn btn-default btn-lg">Visit
                    Source Page</a>
            </div>
        </div>

</section>
<div class="spacer">
</div>
<!-- Contact Section -->
<section class="content-section text-center" style=" background-color: #590313">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 extraTopMargin" >
            <h2>Contact Me</h2>

            <p>Feel free to email me to provide some feedback on this single page application. Please report any bugs or request for new feature to this app</p>

            <p><a href="mailto:j.kawli@gmail.com">Send Feedback</a>
            <p>Copyright &copy;Jayesh Kawli 2015</p>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/JayeshKawli" class="btn btn-default btn-lg"><i
                            class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                    <a href="https://github.com/jayesh15111988" class="btn btn-default btn-lg"><i
                            class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+jayeshkawli" class="btn btn-default btn-lg"><i
                            class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>

        </div>
    </div>
</section>

<div class="credits">
Bootstrap theme by the courtesy of  <a href="http://startbootstrap.com/">startbootstrap </a>
</div>




<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/grayscale.js"></script>

<!-- Angular JS CDN file -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>

<script src="js/Constants.js"></script>
<script src="js/app.js"></script>
<script src="js/mainPageController.js"></script>
<script src="js/controllers.js"></script>

<!-- JS Files for D3 plotting -->
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

<!-- Extra JAvaScript for showing images on slider view -->
<!-- LOAD JAVASCRIPT LATE - JUST BEFORE THE BODY TAG
	     That way the browser will have loaded the images
		 and will know the width of the images. No need to
		 specify the width in the CSS or inline. -->

<!-- jQuery library - Please load it from Google API's -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>

<!-- jQuery UI (Custom Download containing only Widget and Effects Core)
     You can make your own at: http://jqueryui.com/download -->
<script src="js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>

<!-- Latest version (3.1.4) of jQuery Mouse Wheel by Brandon Aaron
     You will find it here: https://github.com/brandonaaron/jquery-mousewheel -->
<script src="js/jquery.mousewheel.min.js" type="text/javascript"></script>

<!-- jQuery Kinectic (1.8.2) used for touch scrolling -->
<!-- https://github.com/davetayls/jquery.kinetic/ -->
<script src="js/jquery.kinetic.min.js" type="text/javascript"></script>

<!-- Smooth Div Scroll 1.3 minified-->
<script src="js/jquery.smoothdivscroll-1.3-min.js" type="text/javascript"></script>

<!-- If you want to look at the uncompressed version you find it at
     js/jquery.smoothDivScroll-1.3.js -->

<!-- Plugin initialization -->
<script type="text/javascript">
    // Initialize the plugin with no custom options
    $(document).ready(function () {
        // None of the options are set
        $("div.makeMeScrollable").smoothDivScroll({
            autoScrollingMode: "onStart"
        });

        $("div.imagesFromSequence").smoothDivScroll({
            autoScrollingMode: "onStart"
        });
    });
</script>


<script>
    //To get the tags of image with given identifier
    function openDescription(inputImageIdentifier) {

        //This is very bad practive combining DOM with angular element, but i cannot think of alternative way to
        //Achieve what is being done here

        var angularController = angular.element(document.getElementById('page-top'));
        angularController.scope().getTagsByImageIdentifier(inputImageIdentifier);
    }
    </script>

</div>
</body>

</html>
